<!DOCTYPE html>
<html>
    <body>
        <h1><center>Hello! My name is Grace</center></h1>
        <h3><center>I am a junior studying at the American School of Barcelona</center></h3>
        <p><center>---------------------------------------------</center></p>
        <p><center>This is my Flask Project for Computer Science with Mr. Carle. Some of my hobbies includes but are not limited to:</center></p>
        <p><center>1) Doodling</center></p>
        <p><center>2) Writing</center></p>
        <p><center>3) Poetry</center></p>
        <p><center>4) Doing something with music(?)</center></p>
        <p><center>---------------------------------------------</center></p>
        <h3><center>I hope you enjoy your stay!</center></h3> 
        <nav>
            <a href="/index"><center>Tasks</center></a>
            <a href="/here"><center>Greetings</center></a>
        </nav>
    </body>
</html>